<VirtualHost *:{{ http_port }}>
#   ServerAdmin webmaster@localhost
   ServerName {{ http_host }}
#   ServerAlias www.{{ http_host }}
   DocumentRoot /var/www/{{ http_host }}
#   ErrorLog ${APACHE_LOG_DIR}/error.log
#   CustomLog ${APACHE_LOG_DIR}/access.log combined

#   <Directory /var/www/{{ http_host }}>
#         Options -Indexes
#   </Directory>

#   <IfModule mod_dir.c>
#       DirectoryIndex index.php index.html index.cgi index.pl  index.xhtml index.htm
#   </IfModule>

</VirtualHost>
